#sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background-color: #BDB9BD8F;
  border-right-color: #5086A3;
  border-right-style: solid;
}

#sidebar ul {
  padding: 10px;
}

/* Used in table headers for input/output tables */
.unbold {
  font-weight: 600;
}

#alerts {
    width: calc(100% - 300px);
    padding: 20px;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* Canvas div */
#content {
    width: calc(100% - 300px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* Used when state/transition options are disabled */
.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.btn-overall, .btn-overall:hover, .btn-overall:focus {
  padding: 5px;
  background-color: #939596;
}

/* Used for sidebar ul header buttons */
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

#tutorialbtn {
  float: right;
}

.modal-hide {
  display: none;
}

.tutorial-main {
  margin: 10px;
}

#logicTable {
  margin: 10px 0px 10px 0px;
}
